@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    align-items: center;
    color: white;
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
}

#centernav ul{
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 5px;
    display:none;
}

#centernav ul li{
    display: flex;
    margin: 0px 5px;
    align-items: center;
    
}

#leftnav{
    margin: 0px 3px;
}

#leftnav img{
    width: 80%;
}

#rightnav{
    text-align: right;
    margin: 0px 3px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#rightnav img{
    margin: 0px 5px;
    width: 30%;
}

.trendingFlex{
    display: none;
}
.trendingFlex ul li{
    display: none;
    list-style-type: none;
    font-size: clamp(0.7rem,0.9rem,1.1rem);
}

   #moreOpsbtn{
    display: flex;
    margin: 0px 8px ;
    align-items: flex-end;
}

.sliderContainer{
    background: url("https://www.iplt20.com/assets/images/banner_bg.jpg");
    display: block;
    padding: 5px 0;
} 



.slides{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    position: relative;
    word-wrap: break-word;
    
}

#slideimg{
  width: 100%;
  margin: auto ;
  display: block;
}

.watchvideo{
    position: absolute;
    font-weight: bold;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1rem;
    background-color: #F0482B;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.imgdisc{
    color:rgb(250, 245, 245);
    font-size: clamp(1rem,1.2rem,1.4rem);
    position: absolute;
    font-weight: bold;
    bottom: 0px;
    left: 30px;
    padding: 0px 9px;
    background-color: black;
    border-radius: 15px;
    word-break: break-all;
}

#addplayerbtn{
    background: transparent;
    color: white;
    outline:none;
    margin: 0px 5px;
    border: none;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1000px) {
    #centernav ul{
        display: flex;
    }
    .trendingFlex ul li{
    margin: 0px 15px;
    font-size: clamp(0.7rem,0.9rem,1.1rem);
    list-style-type: none;
}
}

@media screen  and (min-width:800px){
    .trendingFlex ul li{
    display:flex;
    }
    #moreOpsbtn{
    display: none;
}
.trendingFlex{
    display: flex;
}
#slideimg{
  width: 100%;
  height: 80vh;
  margin: auto ;
  display: block;
}


.sliderContainer{
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    justify-content: space-between; 
    height: 95vh;  
    
}
 .imgdisc{
    color:rgb(250, 245, 245);
    font-size: clamp(1rem,1.2rem,1.4rem);
    position: absolute;
    font-weight: bold;
    bottom: 50px;
    left: 30px;
    padding: 0px 9px;
    background-color: black;
    border-radius: 15px;
    word-break: break-all;
}

.watchvideo{
    position: absolute;
    font-weight: bold;
    bottom: 100px;
    left: 30px;
    color: white;
    font-size: 1rem;
    background-color: #F0482B;
    padding: 5px;
    border-radius: 5px;
}

.Team22{
    position: relative;
    top: 100px;
    color: #DA4E20;
    margin: 110px 30px 50px 30px;
    font-style: italic;
}

}
.fa-address-card{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#rightnav input{
    border-radius: 8px;
    height: 25px;
    margin: 0px 5px;
    padding: 0px 5px;
    width: 100px;
    background: transparent;
    border: 2px solid  linear-gradient(90.15deg,#ef4123 -4.45%,#ef7923 52.36%,#ef4123 118.57%);
    outline: 2px solid  linear-gradient(90.15deg,#ef4123 -4.45%,#ef7923 52.36%,#ef4123 118.57%);
    color: white;
    }

#rightnav input::placeholder{
    color: white;
}

.teamCardbox,.teamCardContainer{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    text-align: center;
}

.teamCardbox{
    align-content: center;

}

body{
    background-color: #E5E5E5;
}


.teams{
    width: 18rem;
    height: 48vh;
    text-align: center;
    border: 1px solid black;  
    margin:  20px 20px ;
    border-radius: 16px;
    
}

.teams:hover img{
    height: 180px;
    width: 180px;
    transition: all .8s ease-in-out;
}

.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.playersCard{
    height: 48vh;
    width: 80%;
    background-size: cover;
    margin: 25px auto;
    border-radius: 10px;
}

.playersCard img{
height: 80%;
width: 100%;
align-items: center;
}

.playersCard a{
    text-decoration: none;
}

.iplsquad{
    background: -webkit-linear-gradient(180deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    font-size: 5rem;   
}

.iplsquaddiv{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.viewAll{
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    padding: 3px;
    border-radius: 8px;
    position: relative;
    top: 20px;
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    color: white; 
} 

.playersCard ul{
    list-style-type: none;
    /* background: linear-gradient(180deg, #0078BC 0%, #17479E 100%); */
    color: white;
    text-align: center;
    position: relative;
    bottom: 8%;   
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
}

.playersCard ul li:nth-child(1){
    font-size: 1.8rem;
    /* color: black; */
    font-weight: bold;
}

.playersCard ul li span{
    font-weight: bold;
    margin:0 4px;
    font-size: 1.2rem;
}

.teams a{
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
}

.teams img{
    height: 10rem;
    width: 10rem;
    margin: auto;
}

.teams h5{
    font-size: 1.3rem;
    margin: 5px 0;
}

.teams:hover h5{
     font-size:1.5rem ;
     transition: all .8s ease-in-out;
}

.teams p{
    font-size: 1.1rem;
}

.teams div{
    font-size: 1.1rem;
    margin: 7px auto;
    border: 1px solid red;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 15px;
    color: rgb(170, 126, 14);
    background-color: white;
}

.fa-trophy{
    color:goldenrod;
    margin: 0px 3px;
}

.navbar2{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 30px 0px 0px 0px ;
}
.navbar2 img{
    height: 85px;
    width: 85px;
}

.formContainer{
    margin: 40px  auto  0;
    height: 150px;
    width: 300px;
    padding: 5px;
    box-shadow: 0px 0px 10px inset lightslategray;
    font-weight: bold;
    /* text-align: center; */
    display: none;
}

.formContainer form input{
    margin: 5px;
}

.formContainer form{
    margin: 10px;
}


.formContainer form label{
    font-size: 1.2rem;
}

#subbtn{
    margin-left:25%;
    font-size: 1rem;
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    /* background: linear-gradient(92.04deg,#98b3bb 24.18%,#466bab 50.95%,#1A3C93 110.32%); */
    color: white;
    outline: none;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
}

#dlbtn{
    margin-left:5%;
    font-size: 1rem;
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    /* background: linear-gradient(92.04deg,#98b3bb 24.18%,#466bab 50.95%,#1A3C93 110.32%); */
    color: white;
    outline: none;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
}

#fname,#role,#fteam{
    outline: none;
    border: none;
}

.teamBanner{
    background-image: url("https://www.iplt20.com/assets/images/ipl-og-image-new.jpg");
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

 .selectedteam{
    display: grid;
    grid-template-columns: 1fr 1fr;
 } 

.cont{
    padding: 15px;
    display: flex;
    background: linear-gradient(92.04deg,#98b3bb 24.18%,#466bab 50.95%,#1A3C93 110.32%);
    color: white;
}

.logo{
    height: 180px;
    width: 180px;
}

.cont div h2{
    font-size: 3rem;
}

.cont div:last-child{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin: 0px 0px 0px 20px ;

}

.trophy{
    margin: 10px;
    width: 100%;
    padding-top: 5px;
    margin: 8px 0;
}

.trophy i {
    width:fit-content;
    height: 30px;
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 0px 5px;
}

.trophy ul{
    margin: 20px 0px ;
    font-size: 1.3rem;
    list-style-type: none;
}

.trophy ul li{
    margin: 5px 0px;
    
}

.trophy ul li span{
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
}

.officialsite{
    height: 30px;
    width: 300px;
    font-size: 1.5rem;
    /* background-color: #EF4123; */
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 8px 0px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.playersec{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playerImg{
    width: 50%;
    text-align: right;
}

.playerImg img{
    width: 50%;
    
}

.playerabout{
    width: 80%;
}

.playerabout h1{
    font-size: 4rem;
    color: white;
}

.playerabout ul li{
    list-style-type: none;
    font-size: 2.3rem;
    color: white;
}


footer{
    margin: 50px 0 0 0;

}

footer div{
    background: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer div ul{
  margin:0px auto;
}

footer div ul h1{
    margin: 15px 0;
    font-size: 1.8rem;
}

footer div ul li{
    list-style-type: none;
    margin: 5px;
    font-size: 1rem;
}

footer div ul li:last-child{
    margin-bottom: 50px;
}

.trendingFlex{
    background: linear-gradient(90.15deg,#ef4123 -4.45%,#ef7923 52.36%,#ef4123 118.57%);
    box-shadow: inset 0 4px 18px rgb(0 0 0/ 40%);
    height: 2.2rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-angle-right{
color: rgb(220, 210, 210);
margin: 0px 5px;    
}


.trendingFlex ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container{
    box-shadow:  0px 0px 10px black;
    padding: 10px;
    margin: 10px 0px;
}

.tickets{
width: 98%;
height: 120px;
margin: 50px auto;
}

.Team22{
position: relative;
color: #DA4E20;
margin: 70px 30px;
font-style: italic
}

.Team22 h1{
font-size:clamp(2rem,2.8rem,3.2rem);
}

.tickets img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 5px #7e8eb5;
}


.MenWomens ul{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: space-around;
text-align: center;
list-style-type: none;
font-size: 1.5rem;
}

.MenWomens ul li{
    font-size: 1.5rem;
box-shadow: 0px 2px 10px black;

}

.Matchteams{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    background: rgb(1 24 60 / 22%);
    padding: 0px 10px;
    height: 35px;
}

.Matchteams p{
    font-size: clamp(0.7rem,0.9rem,1.1rem);
}

.matchres{
text-align: center;
margin: 10px auto;
font: 1.2rem;

}

.finalScore{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10px auto;
}

.finalScore div{
    padding: 0px 10px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fsleft{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.fsright{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s ease-in-out;

}

.finalScore:hover .fsright,.finalScore:hover  .fsleft{
    padding: 0px 20px;
}

.GT{
    background-color: #0B4973;
    color: white;
}

.RR{
    color: white;
    background-color: #EA1A85;
}

.LSG{
    color: white;
    background-color:#A5144F ;
}
.RCB{
    color: white;
    background-color:black ;
}

.fscenter{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

#mens{
    background-color: #DA4E20;
}

